<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :photos %><br>
    <p id="upload_widget_opener">Upload multiple images</p>
  </div>
  <div>
    <% if @post.photos.any? %>
      Delete photos<br /><br />
      <%= check_box_tag "select_all" %> Select all <br />
      <% @post.photos.each do |photo| %>
        <%= check_box_tag photo.id, "delete" %>
        <%= cl_image_tag(photo.image.thumb.url) %>
        <br />
      <% end %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>  
          
<script type="text/javascript">  
  cloudinary.applyUploadWidget(document.getElementById('upload_widget_opener'), 
    { cloud_name: 'CLOUD_NAME', upload_preset: 'PRESET', field_name: 'post[photos][]', multiple: true }, 
      function(error, result) {console.log(error, result)});

  $('#select_all').click(function(event) {  //on click 
      if(this.checked) { // check select status
        $('form input:checkbox').each(function() { //loop through each checkbox
          this.checked = true;  //select all checkboxes with class "checkbox1"               
        });
      }else{
        $('form input:checkbox').each(function() { //loop through each checkbox
          this.checked = false; //deselect all checkboxes with class "checkbox1"                       
        });         
      }
    });
</script>